# NixOS secrets
secrets/**

# Keep directory
!secrets/.gitkeep

# Editor files
*.swp
*~

# Windows
Thumbs.db
Desktop.ini

# Files (temporary gitignored)
hardware-configuration.nix
modules/network/dnsmasq.nix
modules/web/default.nix